<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
        <div fxFlex="15" class="footer-box">
          <div class="home-logo mr-1">
            <a href="/"><img src="assets/images/logo-company.png" alt="Egret logo"></a>
        </div>
    
        </div>
        <div fxFlex="20" class="footer-box">
          <h4 class="footer-box-title"><b>Contact</b></h4>
          <div class="socials pt-1">
            <ul>
              <li><a href="" class="social-icon linkedin"></a></li>
              <li><a href="" class="social-icon twitter"></a></li>
              <li><a href="" class="social-icon facebook"></a></li>
            </ul>
          </div>
      </div>
    </div>
  </section>
</footer>