<section id="service-section" class="home-section home-services-section">
  <div class="container">
    <div class="section-header section-header-services">
      <h4>Participating</h4>
      <h2>COMPANYS</h2>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <img mat-card-sm-image src="assets/images/logo-neoris.png" >
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Neoris</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
            </p>
            <span fxFlex></span>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <img mat-card-sm-image src="assets/images/logo-el-corte-ingles.jpg" >
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">El  Corte Ingles</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.</p>
            <span fxFlex></span>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <img mat-card-sm-image src="assets/images/logo-ericsson.png" >
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Ericsson</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
            </p>
            <span fxFlex></span>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <img mat-card-sm-image src="assets/images/logo-el-corte-ingles.jpg" >
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">El Corte Ingles</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
            </p>
            <span fxFlex></span>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>