<section id="testimonials-section" class="testimonials-section home-section">
  <div class="container">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image
          src="assets/images/company-fair.jpg">
        <div style="position:absolute; left:25%; ">
          <h5 class="home-intro-title"><strong><a href=""> COMPANY FAIR </a></strong></h5>
          <p class="info-card">
            The main meeting point of the event, a place where companies and U-tad’s talents can meet, discuss their projects and explore opportunities.
          </p>

        </div>
      </mat-card-content>
  </mat-card>
  <mat-card class="home-card card-background">
    <mat-card-content class="home-card-content">
      <img mat-card-image
        src="assets/images/pitches.jpg">
      <div style="position:absolute; left:25%; ">
        <h5 class="home-intro-title"><strong><a href=""> STUDENT PITCHES </a></strong></h5>
        <p class="info-card">
          Animation and VFX short films, video games, design portfolios, apps, extended realities experiences…
        </p>

      </div>
    </mat-card-content>
</mat-card>

<mat-card class="home-card">
  <mat-card-content class="home-card-content">
    <img mat-card-image
      src="assets/images/speedmeeting.jpg">
    <div style="position:absolute; left:25%; ">
      <h5 class="home-intro-title"><strong><a href=""> SPEED MEETINGS  </a></strong></h5>
      <p class="info-card">
        Job and internship interviews. For companies: you will have access to a pull of CVs to filter and select the best ones before the event, in order to prepare this activity. For students: you will be able to apply for the offers and companies you are more interested in.
      </p>

    </div>
  </mat-card-content>
</mat-card>


<mat-card class="home-card card-background">
  <mat-card-content class="home-card-content">
    <img mat-card-image
      src="assets/images/companytalk.jpg">
    <div style="position:absolute; left:25%; ">
      <h5 class="home-intro-title"><strong><a href=""> COMPANY TALKS </a></strong></h5>
      <p class="info-card">
        For companies: Go on stage and share your experience. Propose a topic that resonates with the kinds of candidates you are seeking for.  For students: get to know what companies are looking for, meet recruiters and professionals, take advantage to obtain first-hand information.
      </p>

    </div>
  </mat-card-content>
</mat-card>
<button class="button-activities" mat-raised-button >Download the agenda</button>


</div>
</section>
