<section id="portfolio-section" class="home-mission-section" >
  <div class="container">
    <div class="home-mission-title">
      <h3>SAVE THE DATE!</h3>
   </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0 card-color">
          <img mat-card-image src="assets/images/first_mission.png">
          <mat-card-content>
            <h5><strong><a href=""> When ? </a></strong></h5>
            <p>
              dpzozdjzqdjlkzqjdz
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0 card-color">
          <img mat-card-image src="assets/images/second-mission">
          <mat-card-content>
            <h5><strong><a href="">Where ? </a></strong></h5>
            <p>
              dpzozdjzqdjlkzqjdz
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0 card-color">
          <img mat-card-image src="assets/images/third_mission.png">
          <mat-card-content>
            <h5><strong><a href="">Registration deadline</a></strong></h5>
            <p>
              dpzozdjzqdjlkzqjdz
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>